<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styles/dragBarStyles.css">
    <title>Drag Bar</title>
  </head>
  <body id="body">

    <a href="index.html">Home Page</a>
    <a href="dragBar.html">Button to get to drag and drop page</a>

   <h1>this is the drag page</h1>

   <div class="task-list">
    <div class="list" id="initial-list-spot">
    </div>
     <div class="list" id="A">
     </div>
     <div class="list" id="B">
    </div>
    <div class="list" id="C">
    </div>
   </div>
   
<p>input time for each task below in minutes: </p>
<input type="number", id="time", placeholder="Goal Time in minutes...">
<button id="setTime" class="setBtn">Start Timer!</button>   

<script src="../js/index.html"></script>
   <script src="../js/main.js"></script>

   <h2 id="countdown"> TIMER! </h2>
   
  </body>
</html>