<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styles/stageone.css">
   </head>

  <body id="body">
    <!-- development links -->
    <a href="index.html">Home</a>
    <br><br><br>
    <a href="dragBar.html">Drag and Drop</a>
    
    <div class="header">
      <h2>To Do List</h2>
      <input type="text", id="zero", placeholder="Task...">
      <button id="add" class="Btn">Add</button>
    </div>

    <div class="body">
      <ul id="tasks">
        <li>Taking out the trash.</li>
        <li>Doing the laundry.</li>
        <li>Feeding and bathing the cat.</li>
      </ul>
    </div>
    

    <!-- need to implement the function here -->
    <div class="footer">

      <button id="submit" class="Btn" >I'm done.</button>
    </div>

    <script src="../js/index.js"></script>
    <script src="../js/stageone.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>

