html {
  overflow: auto;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  margin-right: 40px;
  width: 3px;  /* scrollbar space */
  color: rgb(0, 0, 0);  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #684e5e;
  border-radius: 20px;
  height: 50%;
}

body{
  margin: 0 ;
  background-color: rgb(253, 211, 218);
}

nav{
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(235, 179, 189);
  box-shadow: 0px 5px 3px #3d020250;
}

.line{
  width: 1px;
  height: 100%;
  background-color: black;
}

nav a {
  text-decoration: none;
  color: black ;
  font-family: 'Arimo', sans-serif;
}

.task-list{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 45px;
}

.sec1{
  display: flex;
  flex-direction: column;
}

.sec1 .list{
  margin: 0px ;
  width: 210px;
  height: 100%;
  background-color: #c07f8c;
  border-radius: 10px;
  box-shadow: 3px 5px #6d6875;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.sec2{
  display: flex;
  flex-direction: column;
}

.sec2 .list{
  margin-bottom: 15px ;
  width: 450px;
  height: 100px;
  background-color: #6d6875;
  box-shadow: 3px 5px #9e0d0d36;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.list p{
  width: 90%;
  background-color: #ffcdb2;
  padding: 2px;
  border-radius: 4px;
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

h3{
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}

.sec2 p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px 0;
}

.start{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#complete {
  margin: 15px;
  padding: 18px ;
  background-color: #ffffff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 8px #6d6875;
  outline: none ;
  font-size: 23px;
  font-family: Georgia, serif;
}

#complete:active {
  box-shadow: 0 4px #6d6875;
  transform: translateY(4px);
}

#complete:hover{
  background-color: #cac1c1;
}

.ongoing-task{
  justify-self: center;
  margin: 40px auto 150px auto;
  display: none;
  width: 70%;
  height: 50% ;
  background-color: #ffcdb2;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
}

.timer-over{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

#current-task{
  font-weight: bolder;
  color: rgb(189, 4, 4) ;
  font-size: 45px; 
  margin: 15px;
  font-family: Tahoma, sans-serif;
}

.set-time{
  font-family: Tahoma, sans-serif;
  max-width: 180px;
  text-align: center;
  margin-top: 0 ;
}

.input-time{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-time input{
  padding: 17px ;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input-time button{
  padding: 17px ;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white ;
  margin-left: 12px;
  outline: none;
}

.input-time button:hover{
  background-color: rgb(68, 21, 21);
}

#countdown{
  text-align: center;
  font-size: 110px;
  margin: 20px 20px 0 20px;
  color: white;
  text-shadow: 3px 3px #ff0000;
}

.timer-over button{
  padding: 17px ;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white ;
  margin-left: 12px;
  outline: none;
}

.timer-over button:hover{
  background-color: rgb(68, 21, 21);
}

.timer-over p{
  text-align: center;
  max-width: 200px;
  margin-top: 10px ;
  font-family: Tahoma, sans-serif;
}